<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="assets/fonts-icon/themify-icons-font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <title>Contacts</title>
</head>
<body>
    <header class="header-page nav-page">
        <h1>Contacts</h1>
        <div class="next-contacts">
            <a href="#">HOME</a>
            <i class="fas fa-caret-right"></i>
            <p>CONTACTS</p>
        </div>
    </header>

    <section>
        <div class="center-contacts">
            <div class="contacts-us">
                <div class="all-contacts">
                    <span>// CHI TIẾT LIÊN HỆ</span>
                    <h2>Contact us</h2>
                    <p class="answer">Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on business days. We will be happy to answer your questions.</p>
                    <div class="contacts-address from-address">
                        <i class="c-ti-item fas fa-globe"></i>
                        <div class="contacts-info">
                            <h6>Our Address:</h6>
                            <p>Đường Hàn Thuyên, khu phố 6 P, Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam</p>
                        </div>
                    </div>
                
                    <div class="contacts-address from-mail">
                        <i class="c-ti-item fas fa-envelope"></i>
                        <div class="contacts-info">
                            <h6>Our Mailbox:</h6>
                            <p>info@uit.edu.vn</p>
                        </div>
                    </div>
                
                    <div class="contacts-address from-phone">
                        <i class="c-ti-item fas fa-phone-alt"></i>
                        <div class="contacts-info">
                            <h6>Our Phone:</h6>
                            <p>(028) 372 52148</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="send-gmail-contacts">
                <div class="all-gmail">
                    <form id="contact-form" class="send-gmail" role="form">
                        <h2>Ready to Get Started?</h2>
                        <p>Your email address will not be published. Required fields are marked *</p>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="Your Name" name="name" value="" required>
                        </div>
                  
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Your Email" name="email" value="" required>
                        </div>
                  
                        <textarea class="form-control" rows="10" placeholder="Messsage..." name="message" required></textarea>
                        
                        <button class="send-button" id="submit" type="submit" value="SEND">
                          <div class="alt-send-button">
                            <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
                          </div>
                        
                        </button>
                        
                      </form>
                </div>
            </div>
        </div>
        
        <div id="map" style="width:100%px;height:100%px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.2289573761423!2d106.80150914540495!3d10.870182741732876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527587e9ad5bf%3A0xafa66f9c8be3c91!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2jhu4cgVGjDtG5nIHRpbiAtIMSQSFFHIFRQLkhDTQ!5e0!3m2!1svi!2s!4v1667811693367!5m2!1svi!2s" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
</body>
</html>