.form {
  @apply rounded-xl bg-sky-300 px-10 pt-10 bg-gradient-to-r from-cyan-500 to-blue-500;
}

.input {
  @apply mb-8 w-full p-4 placeholder-gray-500;
}

.button {
  @apply mx-auto mb-8 block rounded-lg p-4 text-white placeholder-gray-500 hover:opacity-80;
}

.headerCenter {
  @apply mb-8 text-center text-2xl font-extrabold md:text-4xl;
}
